.user-list-container {
  background: #fff;
  padding: 10px;
  border: medium solid black;
  max-height: 150px;
  overflow: auto;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.user-item:hover {
  background: #f7f7f7;
}

.user-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 12px;
}

.user-name {
  flex: 1;
  font-size: 16px;
  color: black;
  font-weight: bolder;
  text-align: start;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
}
