.home-container {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  .button-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    .home-button {
      min-width: 50%;
      min-height: 150px;
    }
  }
}
